/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** Wahlinformationssystem spezifisch
body {
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	font-family: Helvetica;
	font-size: 1em;
}

h1 {
	font-size: 1.2em;
}

#titlebar {
	height: 50px;
	margin: 10px;
	background-color: #9DB2C2;
}

#content {
	position: absolute;
	left: 280px;
	width: auto;
	<!--background-color: #ffffc6;-->
}

#menu {
	position: absolute;
	top: 70px;
	left: 10px;
	width: 250px;
	height: auto;
	background-color: #9DB2C2;
	margin: 0px;
}

#navigation {
	font-size: 0.9em;
	align: left;
	margin: 0px;
	padding: 0px;
}

#navigation li {
	list-style: none;
}

#navigation a {
	color: black;
	cursor: pointer;
	display: block;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
	text-decoration: none;
	width: 100%;
}

#navigation a:hover {
	text-decoration: underline;
}

#navigation li:hover {
	background: #536775;
	position: relative;
}